SECRET_KEY=$(openssl rand -base64 50)" > .env
POSTGRES_PASSWORD=$(openssl rand -base64 15)" >> .env
REDIS_PASSWORD=$(openssl rand -base64 15)" >> .env
POSTGRES_DB=netbox
POSTGRES_USER=netbox
REDIS_HOST=redis
REDIS_CACHE_HOST=redis-cache
REDIS_PASSWORD=$(openssl rand -base64 15)" >> .env
REDIS_CACHE_PASSWORD=$(openssl rand -base64 15)" >> .env
API_TOKEN_PEPPER_1=$(openssl rand -base64 50)" > .env